<html>
<title>PayAnyWhere</title>
<head>
<style TYPE="text/css"> 

body

{

	line-height: 1.6em;

}


#wrapper1{
margin-left:auto;
margin-right:auto;
width:70%;
}

#wrapper2{
margin-left:auto;
margin-right:auto;
width:95%
}

#title{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size 16px;
	color: #039;
	width:500px;
}

#hor-minimalist-a

{

	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

	font-size: 12px;

	background: #fff;

	width: 480px;

	border-collapse: collapse;

	text-align: left;

}

#hor-minimalist-a th

{

	font-size: 14px;

	font-weight: normal;

	color: #039;

	padding: 10px 8px;

	border-bottom: 2px solid #6678b1;

}

#hor-minimalist-a td

{

	color: #669;

	padding: 9px 8px 0px 8px;

}

#hor-minimalist-a tbody tr:hover td

{

	color: #009;

}

#ind_input{
	float:left;
}

</style>
</head>
{% block body %}
<div id="wrapper1">
{% block individual %}
<div id="ind_title_form">
<h3 id="title" >Individual Information</h3>
<form action="/symfony/admin/info/individual/" id="individualform", method="POST">
  <input type="submit" value="Submit" id="ind_input">
</form>
</div>
<table border="1" id="hor-minimalist-a">
<thead>
<tr>
<th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Phone Number</th>
<th>Address</th>
<th>Suite Apt</th>
<th>Zip Code</th>
<th>SSN</th>
<th>Birthday</th>
<th>DBA</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<select name="id" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.id }}">{{ individual.id }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="firstName" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.firstName}}">{{ individual.firstName }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="lastName" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.lastName}}">{{ individual.lastName }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="email" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.email}}">{{ individual.email }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="phoneNumber" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.phoneNumber}}">{{ individual.phoneNumber }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="address" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.address}}">{{ individual.address }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="suiteApt" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.suiteApt}}">{{ individual.suiteApt }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="zipCode" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.zipCode}}">{{ individual.zipCode }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="sSN" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.ssn}}">{{ individual.ssn }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="dOB" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.dob }}">{{ individual.dob }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="dBA" form="individualform">
<option value = "" ></option>
{% for individual in individuals %}
	<option value="{{ individual.dba }}">{{ individual.dba }}</option>
{% endfor %}
</select>
</td>
</tr>
{% for individual in individuals_q %}
<tr>
<td>{{ individual.id }}</td>
<td>{{ individual.firstName }}</td>
<td>{{ individual.lastName }}</td>
<td>{{ individual.email }}</td>
<td>{{ individual.phoneNumber }}</td>
<td>{{ individual.address }}</td>
<td>{{ individual.suiteApt }}</td>
<td>{{ individual.zipCode }}</td>
<td>{{ individual.ssn }}</td>
<td>{{ individual.dob }}</td>
<td>{{ individual.dba }}</td>
</tr>
{% endfor %}
</tbody>
</table> 
{% endblock %}
</div>
<div id="wrapper2">
{% block business %}
<h3 id="title">Business Information</h3>
<form action="/symfony/admin/info/business/" id="businessform", method="POST">
  <input type="submit" value="Submit">
</form>
<table border="1" id="hor-minimalist-a">
<thead>
<tr>
<th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Phone Number</th>
<th>Address</th>
<th>Suite Apt</th>
<th>Zip Code</th>
<th>SSN</th>
<th>Birthday</th>
<th>DBA</th>
<th>Business Type</th>
<th>Business Description</th>
<th>Federal Tax ID</th>
<th>Business Address</th>
<th>Business Suite Aparment</th>
<th>Business Zip Code</th>
<th>Total Monthly CC Sales</th>
<th>Highest Sales Amount</th>
<th>Years In Business</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<select name="id" form="businessform">
<option value = "" ></option>
{% for business in businesses %}
	<option value="{{ business.id }}">{{ business.id }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="firstName" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.firstName}}">{{ business.firstName }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="lastName" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.lastName}}">{{ business.lastName }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="email" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.email}}">{{ business.email }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="phoneNumber" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.phoneNumber}}">{{ business.phoneNumber }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="address" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.address}}">{{ business.address }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="suiteApt" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.suiteApt}}">{{ business.suiteApt }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="zipCode" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.zipCode}}">{{ business.zipCode }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="sSN" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.ssn}}">{{ business.ssn }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="dOB" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.dob }}">{{ business.dob }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="dBA" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.dba }}">{{ business.dba }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="type" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.type }}">{{ business.type }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="businessDescription" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.bussinessDescroption }}">{{ business.businessDescription }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="fedTaxID" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.fedTaxID }}">{{ business.fedTaxID }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="businessAddress" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.businessAddress }}">{{ business.businessAddress }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="businessSuiteApt" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.businessSuiteApt }}">{{ business.businessSuiteApt }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="businessZipCode" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.businessZipCode }}">{{ business.businessZipCode }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="ccSales" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.ccSales }}">{{ business.ccSales }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="highestSales" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.highestSales }}">{{ business.highestSales }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="yearInBusiness" form="businessform">
<option value = "" ></option>
{% for business in  businesses %}
	<option value="{{ business.yearInBusiness }}">{{ business.yearInBusiness }}</option>
{% endfor %}
</select>
</td>
</tr>
{% for business in businesses_q %}
<tr>
<td>{{ business.id }}</td>
<td>{{ business.firstName }}</td>
<td>{{ business.lastName }}</td>
<td>{{ business.email }}</td>
<td>{{ business.phoneNumber }}</td>
<td>{{ business.address }}</td>
<td>{{ business.suiteApt }}</td>
<td>{{ business.zipCode }}</td>
<td>{{ business.ssn }}</td>
<td>{{ business.dob }}</td>
<td>{{ business.dba }}</td>
<td>{{ business.type }}</td>
<td>{{ business.businessDescription }}</td>
<td>{{ business.fedTaxID }}</td>
<td>{{ business.businessAddress }}</td>
<td>{{ business.businessSuiteApt }}</td>
<td>{{ business.businessZipCode }}</td>
<td>{{ business.ccSales }}</td>
<td>{{ business.highestSales }}</td>
<td>{{ business.yearInBusiness }}</td>
</tr>
</tbody>
{% endfor %}
</table> 
{% endblock %}
</body>
{% endblock %}
</html>
